<div id="content">
  <h1><%= @subject.name %></h1>
  <p>
    <%= @subject.description %>
  </p>
  <%= link_to 'Edit subject', edit_supervisor_subject_path(@subject),
    remote: true, class: "btn btn-primary" %>
</div>